@import "partials/base";

//--Typography
@include font-face(latoregular, fonts/latoregular, 400, normal);
@include font-face(latolight, fonts/latolight, 300, normal);
@include font-face(latobold, fonts/latobold, 700, normal);

//--General
body {
  font-family: latoregular;
  font-size: 13px;
  color: $default;
  margin: 0;
}

.content {
  margin: auto;
  width: 90%;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  letter-spacing: 1px;
}

li {
}

p {
  line-height: 20px;
  color: $default;
  letter-spacing: 1px;
  margin: 0;
}

li {
  list-style: none;
}

%title {
  padding-bottom: 5px;
  letter-spacing: 0.5px;
  color: $corporativo;
  margin-bottom: 0;
}

%line-pink {
  height: 2px;
  background: $corporativo;
  border: 0;
  width: 20px;
  margin: 0 0 20px 0;
}

.content-title {
  padding-bottom: 50px;
}

#admin {
  padding: 30px 0;
}

%btn-destacado {
  letter-spacing: 0.1em;
  color: $white;
  background-color: $corporativo;
  border: 1px solid $corporativo;
  padding: 17px;
  margin: auto;
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  font-size: 11px;
  &:hover {
    transition: all .5s ease-in-out;
    background: $default;
    color: $white;
    border: 1px solid $default;
  }
}

%btn-secundario {
  letter-spacing: 0.1em;
  padding: 10px;
  margin: auto;
  display: block;
  color: $corporativo;
  border: 1px solid $corporativo;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  text-transform: capitalize;
  &:hover {
    transition: all .5s ease-in-out;
    background: $default;
    color: $white;
  }
}

//-- Header
header {
  box-sizing: border-box;
  border-bottom: 0.1px solid $reserva;
}

.logo {
  text-transform: uppercase;
  box-sizing: border-box;
  letter-spacing: 0.1em;
  line-height: 40px;
  font-size: 24px;
  font-weight: normal;
  span {
    font-size: 0.5em;
    text-transform: capitalize;
  }
}

.list-ppal {
  line-height: 40px;
  list-style: none;
  float: right;
  li {
    float: left;
    margin-left: 10px;
  }
  li:first-child {
    letter-spacing: 0.1em;
    font-size: 0.9em;
    span {
      color: $corporativo;
    }
  }
  li:last-child {
    a {
      color: $corporativo;
      font-size: 1em;
      letter-spacing: 1px;
      text-transform: uppercase;
      border: 1px solid $corporativo;
      padding: 10px 10px;
      &:hover {
        @include ifhover;
      }
    }
  }
}

//-- Menú principal
.title-user {
  @extend %title;
}

#nav-ppal {
  nav ul {
    padding: 0px;
    li {
      padding: 13px 0px;
      a {
        text-transform: capitalize;
        &:hover {
          color: $corporativo;
        }
      }
    }
  }
  hr {
    @extend %line-pink;
    margin: 50px 0;
  }
}

//--breadcrumbs
.title-section {
  @extend %title;
  &:before {
    background-image: url(../img/icon-heart.png);
    background-repeat: no-repeat;
    margin-right: 10px;
    width: 20px;
    content: " ";
    position: relative;
    top: 4px;
    height: 20px;
    display: inline-block;
  }
}

.breadcrumbs span {
  color: $corporativo;
  font-family: latobold;
}

//--footer
footer {
  background-color: $corporativo;
  letter-spacing: 0.1em;
  color: $white;
  font-size: 0.9em;
  line-height: 20px;
  padding: 30px 0;
  address {
    font-style: normal;
  }
  small {
    padding-top: 2em;
    display: block
  }
  .col-6:last-child {
    text-align: right;
    p {
      color: $white;
    }
    ul {
      float: right;
      li {
        float: left;
        margin-left: 10px;
        i {
          color: $corporativo;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          text-align: center;
          line-height: 10px;
          vertical-align: middle;
          padding: 10px;
          background: $white;
        }
      }
    }
  }
}

//--Indice de contenidos
#index-nav .col-4 {
  width: 32.33333%;
}

%index {
  border: 1px solid $default;
  text-align: center;
  padding: 110px 0 55px 0;
  margin-left: 1%;
  &:hover {
    border-color: $corporativo;
  }
  &:hover h3, &:hover p {
    color: $corporativo;
  }
  .index-title {
    text-transform: capitalize;
    margin: 0;
    font-size: 1.1em;
  }
}

.dress {
  @extend %index;
  background-image: url(../img/dress.png);
  background-repeat: no-repeat;
  background-position: center 35px;
  margin-left: 0;
  &:hover {
    background-image: url(../img/dress-pink.png);
  }
}

.size {
  @extend %index;
  background-image: url(../img/size.png);
  background-repeat: no-repeat;
  background-position: center 58px;
  &:hover {
    background-image: url(../img/size-pink.png);
  }
}

.process {
  @extend %index;
  background-image: url(../img/process.png);
  background-repeat: no-repeat;
  background-position: center 45px;
  &:hover {
    background-image: url(../img/process-pink.png);
  }
}

.sewing {
  @extend %index;
  background-image: url(../img/sewing.png);
  background-repeat: no-repeat;
  background-position: center 45px;
  margin-left: 0;
  &:hover {
    background-image: url(../img/sewing-pink.png);
  }
}

.scissors {
  @extend %index;
  background-image: url(../img/scissors.png);
  background-repeat: no-repeat;
  background-position: center 45px;
  &:hover {
    background-image: url(../img/scissors-pink.png);
  }
}

//--tabla de contenidos
%encabezado {
  color: $white;
  font-family: 'latobold';
}

table {
  width: 100%;
  text-align: left;
  letter-spacing: 1px;
  border-collapse: separate;
  border-spacing: 0 5px;
  th, td {
    width: 25%;
    padding: 1em;
  }
  tr.encabezado {
    @extend %encabezado;
    background-color: $corporativo;
  }
  tr.filtro {
    @extend %encabezado;
    background-color: fade_out($corporativo, .28);
  }
  tr.dato-table {
    background-color: fade_out($corporativo, .9);
    &:hover {
      color: $corporativo;
      font-family: latobold;
    }
  }
}

.paginacion {
  overflow: hidden;
  padding: 3px 0 50px 0;
  p {
    line-height: 33px;
    color: fade_out($default, .4);
    display: inline-block;
  }
  ul {
    float: right;
    margin: 0;
    li {
      float: left;
      list-style: none;
      line-height: 33px;
      padding: 0 0 0 6px;
      letter-spacing: 1px;
      color: fade_out($default, .3);
      a {
        width: 35px;
        height: 35px;
        display: inline-block;
        text-align: center;
        color: fade_out($default, .5);
        border: 1px solid fade_out($default, .5);
        &:hover {
          color: $corporativo;
          border-color: $corporativo;
        }
        i {
          line-height: 33px;
        }
      }
    }
  }
}

//-- Ficha novia
.nav-print {
  overflow: auto;
  padding-bottom: 10px;
  ul {
    float: right;
    li {
      float: left;
      margin-left: 10px;
      list-style: none;
      a {
        padding: 10px;
        border: 1px solid fade_out($default, .5);
        display: block;
        letter-spacing: 0;
        &:hover {
          color: $corporativo;
          border-color: $corporativo;
        }
      }
    }
    li:nth-child(2) {
      a {
        color: $corporativo;
        border-color: $corporativo;
        &:hover {
          @include ifhover();
        }
      }
    }
  }
}

.info-novia {
  overflow: auto;
  padding: 15px 0px 40px 0;
  h1 {
    text-transform: capitalize;
    letter-spacing: 1px;
    color: $corporativo;
    font-size: 1.1em;
    span a {
      font-family: 'latolight';
      padding: 10px;
      margin-left: 10px;
      border: 1px solid;
      font-size: .8em;
      &:hover {
        @include ifhover();
      }
    }
  }
  hr {
    @extend %line-pink;
  }
  .col-6 {
    padding-left: 0;
    p {
      padding-bottom: 10px;
      span {
        font-family: latobold;
      }
    }
  }
}

table.pagos {
  td {
    padding: 5px 0;
  }
}

//--Modal
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.2);
  button.close {
    color: $white;
    background-color: $corporativo;
    float: right;
    font-size: 21px;
    display: block;
    padding: 12px;
    cursor: pointer;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  hr {
    @extend %line-pink;
  }
  .modal-dialog {
    width: 800px;
    margin: 40px auto;
    .modal-content {
      position: relative;
      background-color: $white;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      outline: 0;
      .modal-body {
        position: relative;
        padding: 15px;
        form {
          width: 90%;
          margin: auto;
          h1 {
            color: $corporativo;
            text-transform: capitalize;
            letter-spacing: 1px;
            font-size: 1.2em;
            padding: 1em 0 0 0;
          }
          fieldset {
            border: none;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.in {
  opacity: 1;
}

.botonera {
  width: 315px;
  margin: auto;
  font-size: 13px;
  padding-top: 1em;
  #cancel {
    color: fade_out($default, .1);
    background: none;
    padding: 1em 2em;
    border: 1px solid $reserva;
    width: 150px;
    margin: auto;
    margin-bottom: 9px;
    &:hover {
      @include ifhover();
      border-color: $corporativo;
    }
  }
  #save {
    color: $corporativo;
    background: none;
    padding: 1.2em 2em;
    display: inline-block;
    border: 1px solid $corporativo;
    text-transform: capitalize;
    width: 150px;
    margin: auto;
    margin-right: 10px;
    &:hover {
      @include ifhover();
    }
  }
}

//--Formularios
%input-style {
  border: 1px solid fade_out($default, .6);
  padding: 0.75em;
  color: $default;
  width: 100%;
  box-sizing: border-box;
  font-size: 13px;
  letter-spacing: 1px;
}

%input-focus {
  border-color: $corporativo;
  color: $corporativo;
  outline: 0;
  font-weight: 700;
}

#form {
  .col-6:first-child {
    padding-right: 2%;
    padding-left: 0;
  }
  .col-6:last-child {
    padding-left: 2%;
    padding-right: 0;
  }
  div.form-group {
    margin-bottom: 3em;
    box-sizing: border-box;
    label {
      display: block;
      margin-bottom: 1em;
      letter-spacing: 1px;
      color: $default;
      font-size: 13px;
      text-align: left;
      padding-right: 20px;
      box-sizing: border-box;
      width: 100%;
      &.label-radio {
        width: auto;
        display: inline-block;
      }
    }
    input {
      @extend %input-style;
      &[type="checkbox"], &[type="radio"] {
        display: inline-block;
        width: auto;
        margin-right: 10px;
        float: left;
      }
      &:focus {
        @extend %input-focus;
      }
    }
    input#other {
      display: none;
    }
    textarea {
      @extend %input-style;
      height: 143px;
      &:focus {
        @extend %input-focus;
      }
    }
  }
  div.add-symbol {
    display: table;
    position: relative;
    label {
      display: table-caption;
    }
    span {
      display: table-cell;
      border: 1px solid fade_out($default, .6);
      border-radius: 1px;
      padding: 6px 12px;
      text-align: center;
      border-right: 0;
      width: 1%;
      white-space: nowrap;
      vertical-align: middle;
      box-sizing: border-box;
      color: $default;
    }
  }
}

// Iniciar sesión
.title {
  @extend %title;
  font-family: latobold;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 18px;
  padding: 50px 0 20px 0;
}

#login hr {
  @extend %line-pink;
  margin: auto;
}

.description {
  text-align: center;
  padding: 20px 0;
}

#login .col-5, #follow .col-5 {
  margin: auto;
  float: none;
}

.label {
  text-transform: capitalize;
  letter-spacing: 0.1em;
  color: $default;
}

.inputs {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  height: 34px;
  margin: 10px 0 20px 0;
  color: $default;
  letter-spacing: 1px;
  font-size: 0.9em;
  outline: none;
}

.send {
  @extend %btn-destacado
}

.forget {
  text-align: center;
  padding: 10px 0 5px 0;
  font-size: 0.9em;
  a {
    text-transform: capitalize;
    letter-spacing: 0.1em;
    color: $default;
    text-decoration: underline;
  }
}

.remember {
  text-transform: capitalize;
  letter-spacing: 0.1em;
  font-family: 'latoregular';
  color: rgb(110, 110, 110);
  text-align: center;
  font-size: 0.9em;
}

.title-follow {
  text-align: center;
  color: rgb(110, 110, 110);
  text-transform: capitalize;
  font-family: 'latolight';
  letter-spacing: 2px;
  .y, .word-follow {
    font-family: 'latobold';
  }
  .word-follow {
    color: $corporativo;
  }
}

#acceso {
  padding: 50px 0 30px 0;
}

.recordatorio {
  text-align: center;
  padding: 14px 0 0 0;
  color: $corporativo;
  font-family: 'latobold';
  letter-spacing: 1px;
}

#follow {
  a {
    letter-spacing: 0.1em;
    color: $default;
    text-align: center;
    font-size: 1em;
    &:hover {
      color: $corporativo;
    }
    i {
      color: $white;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      text-align: center;
      line-height: 10px;
      vertical-align: middle;
      padding: 10px;
      background-color: $corporativo;
    }
  }
  ul {
    padding: 30px 0 80px 0;
  }
}