@import "partials/base";

//--Typography
@include font-face(latoregular, fonts/latoregular, 400, normal);
@include font-face(latolight, fonts/latolight, 300, normal);
@include font-face(latobold, fonts/latobold, 700, normal);

//--General
body {
  font-family: latoregular;
  font-size: 14px;
  color: $default;
  margin: 0;
}

.content {
  @include container(90%);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  letter-spacing: 1px;
}

li {
}

p {
  line-height: 20px;
  color: $default;
  letter-spacing: 1px;
  margin: 0;
}

li {
  list-style: none;
}

%title {
  padding-bottom: 5px;
  letter-spacing: 0.5px;
  color: $corporativo;
  margin-bottom: 0;
}

%line-pink {
  height: 2px;
  background: $corporativo;
  border: 0;
  width: 20px;
  margin: 0 0 25px 0;
}

.content-title {
  padding-bottom: 50px;
}

#admin {
  padding: 30px 0;
}

%btn-destacado {
  letter-spacing: 0.1em;
  color: $white;
  background-color: $corporativo;
  border: 1px solid $corporativo;
  padding: 15px;
  margin: auto;
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  font-size: 11px;
  &:hover {
    transition: all .5s ease-in-out;
    background: $ligth;
    color: $white;
    border: 1px solid $ligth;
  }
}

%btn-secundario {
  letter-spacing: 0.1em;
  padding: 10px;
  margin: auto;
  display: block;
  color: $corporativo;
  border: 1px solid $corporativo;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  text-transform: capitalize;
  &:hover {
    transition: all .5s ease-in-out;
    background: $ligth;
    color: $white;
    border: 1px solid $ligth;
  }
}

%btn-terciario {
  letter-spacing: 0.1em;
  padding: 10px;
  margin: auto;
  display: block;
  color: $ligth;
  border: 1px solid $ligth;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  text-transform: capitalize;
  &:hover {
    transition: all .5s ease-in-out;
    background: $ligth;
    color: $white;
    border: 1px solid $ligth;
  }
}

//-- Header
header {
  box-sizing: border-box;
  border-bottom: 0.1px solid $reserva;
}

.logo {
  text-transform: uppercase;
  box-sizing: border-box;
  letter-spacing: 0.1em;
  line-height: 40px;
  font-size: 24px;
  font-weight: normal;
  span {
    font-size: 0.5em;
    text-transform: capitalize;
  }
}

.list-ppal {
  line-height: 40px;
  list-style: none;
  float: right;
  li {
    float: left;
  }
  li:first-child {
    letter-spacing: 0.1em;
    font-size: 17px;
    margin-right: 20px;
    color: $ligth;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    &:hover {
      transition: all .5s ease-in-out;
      color: $corporativo !important;
    }
  }

  li:last-child {
    a {
      color: $corporativo;
      font-size: 1em;
      letter-spacing: 1px;
      text-transform: uppercase;
      border: 1px solid $corporativo;
      padding: 15px;
      &:hover {
        @include ifhover;
      }
    }
  }
}

//-- Menú principal
.title-user {
  @extend %title;
}

#nav-ppal {
  @include span(3);
  nav ul {
    padding: 0px;
    li {
      padding: 13px 0px;
      a {
        text-transform: capitalize;
        &:hover {
          color: $corporativo;
        }
      }
    }
  }
  hr {
    @extend %line-pink;
    margin: 50px 0;
  }
}

//--breadcrumbs
.title-section {
  @extend %title;
  &:before {
    background-image: url(../img/icon-heart.png);
    background-repeat: no-repeat;
    margin-right: 10px;
    width: 20px;
    content: " ";
    position: relative;
    top: 4px;
    height: 20px;
    display: inline-block;
  }
}

.breadcrumbs span {
  color: $corporativo;
  font-family: latobold;
}

//--footer
footer {
  background-color: $corporativo;
  letter-spacing: 0.1em;
  color: $white;
  font-size: 0.9em;
  line-height: 20px;
  padding: 30px 0;
  address {
    font-style: normal;
  }
  small {
    padding-top: 2em;
    display: block
  }
  .content {
    div:first-child {
      @include span(6);
    }
  }

  .redes {
    @include span(6 at 7);
    text-align: right;
    p {
      color: $white;
    }
    ul {
      float: right;
      li {
        float: left;
        margin-left: 10px;
        i {
          color: $corporativo;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          text-align: center;
          line-height: 10px;
          vertical-align: middle;
          padding: 10px;
          background: $white;
        }
      }
    }
  }
}

//--Indice de contenidos
%index {
  border: 1px solid $ligth;
  text-align: center;
  padding: 110px 0 55px 0;
  &:hover {
    border-color: $corporativo;
  }
  &:hover h3, &:hover p {
    color: $corporativo;
  }
  .index-title {
    text-transform: capitalize;
    margin: 0;
    font-size: 1.1em;
  }
}

.dress {
  @extend %index;
  background-image: url(../img/dress.png);
  background-repeat: no-repeat;
  background-position: center 35px;
  margin-left: 0;
  &:hover {
    background-image: url(../img/dress-pink.png);
  }
}

.size {
  @extend %index;
  background-image: url(../img/size.png);
  background-repeat: no-repeat;
  background-position: center 58px;
  &:hover {
    background-image: url(../img/size-pink.png);
  }
}

.process {
  @extend %index;
  background-image: url(../img/process.png);
  background-repeat: no-repeat;
  background-position: center 45px;
  &:hover {
    background-image: url(../img/process-pink.png);
  }
}

.user-list {
  @extend %index;
  background-image: url(../img/list.png);
  background-repeat: no-repeat;
  background-position: center 45px;
  &:hover {
    background-image: url(../img/list-pink.png);
  }
}

.add {
  @extend %index;
  background-image: url(../img/add.png);
  background-repeat: no-repeat;
  background-position: center 45px;
  &:hover {
    background-image: url(../img/add-pink.png);
  }
}

.sewing {
  @extend %index;
  background-image: url(../img/sewing.png);
  background-repeat: no-repeat;
  background-position: center 45px;
  margin-left: 0;
  &:hover {
    background-image: url(../img/sewing-pink.png);
  }
}

.scissors {
  @extend %index;
  background-image: url(../img/scissors.png);
  background-repeat: no-repeat;
  background-position: center 45px;
  &:hover {
    background-image: url(../img/scissors-pink.png);
  }
}

//--tabla de contenidos
%encabezado {
  color: $white;
  font-family: 'latobold';
}

table {
  width: 100%;
  text-align: left;
  letter-spacing: 1px;
  border-collapse: separate;
  border-spacing: 0 5px;
  th, td {
    width: 25%;
    padding: 1em;
  }
  tr.encabezado {
    @extend %encabezado;
    background-color: $corporativo;
  }
  tr.filtro {
    @extend %encabezado;
    background-color: fade_out($corporativo, .28);
  }
  tr.dato-table {
    background-color: fade_out($corporativo, .9);
    &:hover {
      color: $corporativo;
      font-family: latobold;
    }
  }
}

#pendiente {
  position: relative;
  top: -5px;
}

.paginacion {
  overflow: hidden;
  padding: 3px 0 50px 0;
  p {
    line-height: 33px;
    color: fade_out($default, .4);
    display: inline-block;
  }
  ul {
    float: right;
    margin: 0;
    li {
      float: left;
      list-style: none;
      line-height: 45px;
      padding: 0 0 0 6px;
      letter-spacing: 1px;
      color: fade_out($ligth, .3);
      a {
        width: 20px;
        height: 20px;
        display: inline-block;
        text-align: center;
        line-height: 20px;
        @extend %btn-terciario;
      }
    }
  }
}

//-- Ficha novia
.nav-print {
  overflow: auto;
  padding-bottom: 10px;
  ul {
    float: right;
    li {
      float: left;
      margin-left: 10px;
      list-style: none;
      a {
        @extend %btn-terciario;
      }
    }
  }
  li:nth-child(2) {
    a {
      @extend %btn-secundario;
    }
  }
}

.info-novia {
  overflow: auto;
  padding: 15px 0px 40px 0;
  h1 {
    text-transform: capitalize;
    letter-spacing: 1px;
    color: $corporativo;
    font-size: 1.1em;
    margin-bottom: .3em;
    .edit {
      @extend %btn-secundario;
      display: inline-block;
      font-size: 13px;
      margin-left: 10px;
    }
  }
  hr {
    @extend %line-pink;
  }
  .col-6 {
    padding-left: 0;
    p {
      padding-bottom: 10px;
      span {
        font-family: latobold;
      }
    }
  }
}

table.pagos {
  td {
    padding: 3px 0;
  }
}

//--Modal
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.2);
  button.close {
    color: $white;
    background-color: $corporativo;
    float: right;
    font-size: 21px;
    display: block;
    padding: 12px;
    cursor: pointer;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  hr {
    @extend %line-pink;
  }
  .modal-dialog {
    width: 800px;
    margin: 40px auto;
    max-height: 650px;
    overflow: scroll;
    .modal-content {
      position: relative;
      background-color: $white;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      outline: 0;
      .modal-body {
        position: relative;
        padding: 15px;
        form {
          width: 90%;
          margin: auto;
          h1 {
            color: $corporativo;
            text-transform: capitalize;
            letter-spacing: 1px;
            font-size: 1.2em;
            padding: 1em 0 5px 0;
          }
          fieldset {
            border: none;
            margin: 0;
            padding: 0;
            h2 {
              font-size: 14px;
              margin-bottom: 10px;
              color: $default;
            }
          }
          .separador {
            border-top: 1px solid lighten($ligth, 20%);
            padding-top: 2em;
          }
        }
      }
    }
  }
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.in {
  opacity: 1;
}

#medidas div.add-symbol span {
  border: 1px solid rgba(110, 110, 110, 0.4) !important;
  border-left: 1px !important;
}

.botonera {
  width: 315px;
  margin: auto;
  font-size: 13px;
  padding-top: 1em;
  #cancel {
    color: fade_out($default, .1);
    background: none;
    padding: 1em 2em;
    border: 1px solid $reserva;
    width: 150px;
    margin: auto;
    margin-bottom: 9px;
    &:hover {
      @include ifhover();
      border-color: $corporativo;
    }
  }
  #save {
    color: $corporativo;
    background: none;
    padding: 1.2em 2em;
    display: inline-block;
    border: 1px solid $corporativo;
    text-transform: capitalize;
    width: 150px;
    margin: auto;
    margin-right: 10px;
    &:hover {
      @include ifhover();
    }
  }
}

.m-search {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba($ligth, 0.5);
  z-index: 99999;
  display: none;
  .bg-search {
    background-color: $white;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    padding: 30px;
    h1 {
      font-family: "latolight";
      text-transform: uppercase;
      font-size: 25px;
      color: $corporativo;
      padding-top: 5em;
      span {
        font-family: "latobold";
        display: block;
        font-size: 30px;
      }
    }
    input[type="text"] {
      width: 100%;
      padding: 25px 15px;
      box-sizing: border-box;
      margin-top: 30px;
      font-size: 15px;
      border: none;
      border-bottom: 1px solid $ligth;
      outline: none;
      color: $default;
      text-transform: uppercase;
      &:focus {
        border-color: $corporativo;
        font-family: "latobold";
        color: $corporativo;
      }
    }
    input[type="submit"] {
      @extend %btn-secundario;
      background: none;
      outline: none;
      width: 100%;
      margin-top: 40px;
      font-size: 15px;
    }
    .cerrar {
      float: right;
      font-size: 25px;
      color: lighten($corporativo, 10%);
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      background: none;
      border: none;
      &:hover {
        color: $default;
        transition: all .5s ease-in-out;
      }
    }
  }
}

.no-result {
  font-weight: 100;
  span {
    font-family: "latobold";
    color: $corporativo;
  }
}

//--Formularios
%input-style {
  border: 1px solid fade_out($default, .6);
  padding: 0.9em;
  color: $default;
  width: 100%;
  box-sizing: border-box;
  font-size: 13px;
  letter-spacing: 1px;
}

%input-focus {
  border-color: $corporativo;
  color: $corporativo;
  outline: 0;
  font-weight: 700;
}

#form {
  fieldset {
    border: none;
  }
  .col-6:first-child {
    padding-right: 2%;
    padding-left: 0;
  }
  .col-6:last-child {
    padding-left: 2%;
    padding-right: 0;
  }
  div.form-group {
    margin-bottom: 3em;
    box-sizing: border-box;
    label {
      display: inline-block;
      margin-bottom: 1em;
      letter-spacing: 1px;
      color: $default;
      text-align: left;
      padding-right: 20px;
      box-sizing: border-box;
      font-size: 14px;
      &.label-radio {
        width: auto;
        display: inline-block;
      }
    }
    input, select {
      @extend %input-style;
      &[type="checkbox"], &[type="radio"] {
        display: inline-block;
        width: auto;
        margin-right: 10px;
        float: left;
      }
      &:focus {
        @extend %input-focus;
      }
    }
    select {
      border-radius: 0px;
      background: none;
      -webkit-appearance: none;
      background: url(../img/arrow.png) no-repeat scroll 7px 7px;
      background-position: 95% 50%;
      background-size: 6%;
    }
    input#other {
      display: none;
    }
    textarea {
      @extend %input-style;
      height: 143px;
      &:focus {
        @extend %input-focus;
      }
    }
  }
  div.add-symbol {
    display: table;
    position: relative;
    label {
      display: table-caption;
    }
    span {
      display: table-cell;
      border: 1px solid fade_out($default, .6);
      border-radius: 1px;
      padding: 6px 12px;
      text-align: center;
      border-right: 0;
      width: 1%;
      white-space: nowrap;
      vertical-align: middle;
      box-sizing: border-box;
      color: $default;
    }
  }
}

#why, #who, #info-admin, #info-seller, #info-design, #info-taller {
  display: none;
}

// Iniciar sesión
.title {
  @extend %title;
  font-family: latobold;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 18px;
  padding: 50px 0 20px 0;
}

#login hr {
  @extend %line-pink;
  margin: auto;
}

.description {
  text-align: center;
  padding: 20px 0;
}

#login .col-5, #follow .col-5 {
  margin: auto;
  float: none;
}

.label {
  text-transform: capitalize;
  letter-spacing: 0.1em;
  color: $default;
}

.inputs {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  height: 34px;
  margin: 10px 0 20px 0;
  color: $default;
  letter-spacing: 1px;
  font-size: 0.9em;
  outline: none;
}

.send {
  @extend %btn-destacado
}

.forget {
  text-align: center;
  padding: 10px 0 5px 0;
  font-size: 0.9em;
  a {
    text-transform: capitalize;
    letter-spacing: 0.1em;
    color: $default;
    text-decoration: underline;
  }
}

.remember {
  text-transform: capitalize;
  letter-spacing: 0.1em;
  font-family: 'latoregular';
  color: rgb(110, 110, 110);
  text-align: center;
  font-size: 0.9em;
}

.title-follow {
  text-align: center;
  color: rgb(110, 110, 110);
  text-transform: capitalize;
  font-family: 'latolight';
  letter-spacing: 2px;
  .y, .word-follow {
    font-family: 'latobold';
  }
  .word-follow {
    color: $corporativo;
  }
}

#acceso {
  padding: 50px 0 30px 0;
}

.recordatorio {
  text-align: center;
  padding: 14px 0 0 0;
  color: $corporativo;
  font-family: 'latobold';
  letter-spacing: 1px;
}

#follow {
  a {
    letter-spacing: 0.1em;
    color: $default;
    text-align: center;
    font-size: 1em;
    &:hover {
      color: $corporativo;
    }
    i {
      color: $white;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      text-align: center;
      line-height: 10px;
      vertical-align: middle;
      padding: 10px;
      background-color: $corporativo;
    }
  }
  ul {
    padding: 30px 0 80px 0;
  }
}

//Wizard add novias
.wizard {
  .content {
    width: 100%;
  }
  .title {
    display: none;
  }
  fieldset {
    border: none;
    padding: 5em 0 2em 0 !important;
    #add-phone, #add-pay {
      width: 50px;
      height: 50px;
      margin-left: 1em;
      border: 1px solid $ligth;
      background: none;
      color: $ligth;
      display: inline-block;
      &:hover {
        color: $corporativo;
        border-color: $corporativo;
      }
    }
    label.error {
      color: $corporativo !important;
      font-family: "latobold";
    }
    input.error {
      border-color: $corporativo !important;
    }
    .size-title {
      font-size: 14px;
      margin-bottom: 30px;
      letter-spacing: 1px;
    }
    .symbol {
      border-right: 1px solid rgba(110, 110, 110, 0.4) !important;
      border-left: 0 !important;
    }
    .title-description {
      padding: 0;
      margin: 0 0 13px 0;
    }
  }
  .steps {
    li {
      float: left;
      list-style: none;
      width: 20%;
      text-align: center;
      position: relative;
      .bg-wizard {
        height: 4px;
        border: none;
        z-index: -1;
        position: absolute;
        top: 29px;
        width: 100%;
        background-color: $corporativo;
      }
      a {
        line-height: 60px;
        width: 60px;
        height: 60px;
        background-color: $corporativo;
        border-radius: 50%;
        text-align: center;
        color: $white;
        display: inline-block;
        outline: 0;
        .title-step {
          display: none;
        }
      }
      .title-step {
        padding-top: 1em;
        font-weight: 700;
        color: $corporativo;
        letter-spacing: 1.3px;
        .number {
          display: none;
        }
      }
      &:nth-child(1) > .bg-wizard, &:last-child > .bg-wizard {
        width: 50%;
      }
      &:nth-child(1) > .bg-wizard {
        right: 0;
      }
      &:nth-child(5) > .bg-wizard {
        left: 0;
      }
    }
    .disabled {
      a {
        background-color: $ligth;
        cursor: default;
      }
      .title-step {
        color: $ligth;
        font-weight: 300;
      }
      .bg-wizard {
        background-color: $ligth;
      }
    }
    .done {
      a, .bg-wizard {
        background-color: lighten($corporativo, 20%) !important;
      }
      .title-step {
        color: lighten($corporativo, 20%) !important;
      }
    }
  }
  .actions {
    text-align: center;
    width: 100%;
    padding-bottom: 3em;
    ul {
      display: inline-block;
      text-align: right;
      li {
        float: left;
        margin-left: 0.5em;
        list-style: none;
        a {
          @extend %btn-secundario;
        }
      }
      .disabled a, .disabled a:hover {
        background: $dirt-white;
        color: $ligth;
        border-color: $ligth;
      }
    }
  }
}

@include breakpoint($mobile-small) {
  .col-8 {
    @include span(12);
  }
}