/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 7, ../sass/print.scss */
header, #nav-ppal, .content-title, .nav-print, footer, .info-novia h1 .edit, .info-novia hr {
  display: none;
}

/* line 11, ../sass/print.scss */
#index-nav {
  width: 100%;
}

/* line 15, ../sass/print.scss */
.info-novia {
  border: 1px solid #b7b7b7;
  padding: 7px;
  color: #6e6e6e;
  margin-bottom: 5px;
}

/* line 22, ../sass/print.scss */
.info-novia p {
  padding-bottom: 3px;
  font-size: 10px;
  line-height: 0px;
}

/* line 28, ../sass/print.scss */
.info-novia h1 {
  font-size: 10px;
  color: #6e6e6e;
}

/* line 33, ../sass/print.scss */
.pagos tr {
  padding: 0;
}
/* line 35, ../sass/print.scss */
.pagos tr td {
  color: #6e6e6e;
  font-size: 9px;
  padding: 0;
}

/* line 42, ../sass/print.scss */
.size-title {
  font-size: 11px;
}

@page {
  size: auto;
  /* auto is the initial value */
  margin: 10px 0 0 0;
  /* this affects the margin in the printer settings */
}
