/* line 2, ../sass/partials/_config.scss */
.row:after {
  display: block;
  clear: both;
  content: '';
}

/* line 14, ../sass/partials/_config.scss */
.row + .row {
  margin-top: 1%;
}

/* line 19, ../sass/partials/_config.scss */
[class^="col-"] {
  float: left;
  padding-right: 1%;
  padding-left: 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
.col-1  { width:5.583333333333333%; }
.col-2  { width:14.16666666666667%; }
.col-3  { width:22.75%; }
.col-4  { width:31.33333333333333%; }
.col-5  { width:39.91666666666667%; }
.col-6  { width:48.5%; }
.col-7  { width:57.08333333333333%; }
.col-8  { width:65.66666666666666%; }
.col-9  { width:74.25%; }
.col-10 { width:82.83333333333333%; }
.col-11 { width:91.41666666666666%; }
.col-12 { width:100%; }
*/
/* line 45, ../sass/partials/_config.scss */
.col-1 {
  width: 8.33333%;
}

/* line 46, ../sass/partials/_config.scss */
.col-2 {
  width: 16.66667%;
}

/* line 47, ../sass/partials/_config.scss */
.col-3 {
  width: 25%;
}

/* line 48, ../sass/partials/_config.scss */
.col-4 {
  width: 33.33333%;
}

/* line 49, ../sass/partials/_config.scss */
.col-5 {
  width: 41.66667%;
}

/* line 50, ../sass/partials/_config.scss */
.col-6 {
  width: 50%;
}

/* line 51, ../sass/partials/_config.scss */
.col-7 {
  width: 58.33333%;
}

/* line 52, ../sass/partials/_config.scss */
.col-8 {
  width: 66.66667%;
}

/* line 53, ../sass/partials/_config.scss */
.col-9 {
  width: 75%;
}

/* line 54, ../sass/partials/_config.scss */
.col-10 {
  width: 83.33333%;
}

/* line 55, ../sass/partials/_config.scss */
.col-11 {
  width: 91.66667%;
}

/* line 56, ../sass/partials/_config.scss */
.col-12 {
  width: 100%;
}

/* normalize-scss 3.0.2+normalize.3.0.2 | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
/* line 106, ../../../../.rvm/gems/ruby-2.2.6/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 67, ../sass/partials/normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 79, ../sass/partials/normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 93, ../sass/partials/normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 114, ../sass/partials/normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 133, ../sass/partials/normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
/* line 143, ../sass/partials/normalize.scss */
[hidden] {
  display: none;
}

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 152, ../sass/partials/normalize.scss */
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 164, ../sass/partials/normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 173, ../sass/partials/normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 185, ../sass/partials/normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 193, ../sass/partials/normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 203, ../sass/partials/normalize.scss */
blockquote {
  margin: 1.5em 40px;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 212, ../sass/partials/normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 221, ../sass/partials/normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/* line 236, ../sass/partials/normalize.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 242, ../sass/partials/normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

/* line 248, ../sass/partials/normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 254, ../sass/partials/normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em;
}

/* line 260, ../sass/partials/normalize.scss */
h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 272, ../sass/partials/normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 283, ../sass/partials/normalize.scss */
p,
pre {
  margin: 1.5em 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 293, ../sass/partials/normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 301, ../sass/partials/normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 309, ../sass/partials/normalize.scss */
sup {
  top: -0.5em;
}

/* line 313, ../sass/partials/normalize.scss */
sub {
  bottom: -0.25em;
}

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 325, ../sass/partials/normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
}

/* line 346, ../sass/partials/normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 354, ../sass/partials/normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 366, ../sass/partials/normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 381, ../sass/partials/normalize.scss */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 394, ../sass/partials/normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 406, ../sass/partials/normalize.scss */
figure {
  margin: 1.5em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 415, ../sass/partials/normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 424, ../sass/partials/normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 432, ../sass/partials/normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 456, ../sass/partials/normalize.scss */
form {
  margin: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
/* line 470, ../sass/partials/normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 488, ../sass/partials/normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 499, ../sass/partials/normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 514, ../sass/partials/normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 529, ../sass/partials/normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 538, ../sass/partials/normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 549, ../sass/partials/normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 564, ../sass/partials/normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 581, ../sass/partials/normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 592, ../sass/partials/normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}
/* line 602, ../sass/partials/normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 612, ../sass/partials/normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 628, ../sass/partials/normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 642, ../sass/partials/normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 651, ../sass/partials/normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 662, ../sass/partials/normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 667, ../sass/partials/normalize.scss */
td,
th {
  padding: 0;
}

/* line 2, ../sass/partials/_chosen.scss */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 14, ../sass/partials/_chosen.scss */
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #aaaaaa;
  border-top: 0;
  background: white;
}

/* line 26, ../sass/partials/_chosen.scss */
.block {
  display: block !important;
  width: 100%;
}

/* line 31, ../sass/partials/_chosen.scss */
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}

/* line 35, ../sass/partials/_chosen.scss */
.chosen-container a {
  cursor: pointer;
}

/* @end */
/* @group Single Chosen */
/* line 41, ../sass/partials/_chosen.scss */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0.75em;
  border: 1px solid rgba(110, 110, 110, 0.4);
  color: #6e6e6e;
  text-decoration: none;
  white-space: nowrap;
  letter-spacing: 1px;
  height: 45px;
  box-sizing: border-box;
}

/* line 55, ../sass/partials/_chosen.scss */
.chosen-container-single .chosen-default {
  color: #6e6e6e;
}

/* line 59, ../sass/partials/_chosen.scss */
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 67, ../sass/partials/_chosen.scss */
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}

/* line 71, ../sass/partials/_chosen.scss */
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}

/* line 82, ../sass/partials/_chosen.scss */
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}

/* line 86, ../sass/partials/_chosen.scss */
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}

/* line 90, ../sass/partials/_chosen.scss */
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}

/* line 99, ../sass/partials/_chosen.scss */
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("chosen-sprite.png") no-repeat 0px 6px;
}

/* line 106, ../sass/partials/_chosen.scss */
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 12px;
  white-space: nowrap;
}

/* line 114, ../sass/partials/_chosen.scss */
.chosen-container-single .chosen-search input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1px 0;
  padding: 0.6em;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: white url("chosen-sprite.png") no-repeat 100% -20px;
  background: url("chosen-sprite.png") no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}

/* line 132, ../sass/partials/_chosen.scss */
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}

/* line 138, ../sass/partials/_chosen.scss */
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

/* @end */
/* @group Results */
/* line 145, ../sass/partials/_chosen.scss */
.chosen-container .chosen-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}

/* line 155, ../sass/partials/_chosen.scss */
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 0.6em;
  line-height: 15px;
  -webkit-touch-callout: none;
  color: #6e6e6e;
  letter-spacing: 0.5px;
}

/* line 165, ../sass/partials/_chosen.scss */
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}

/* line 170, ../sass/partials/_chosen.scss */
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* line 176, ../sass/partials/_chosen.scss */
.chosen-container .chosen-results li.highlighted {
  color: #ec6b6a;
  font-weight: 700;
}

/* line 181, ../sass/partials/_chosen.scss */
.chosen-container .chosen-results li.no-results {
  display: list-item;
  background: #f4f4f4;
}

/* line 186, ../sass/partials/_chosen.scss */
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}

/* line 192, ../sass/partials/_chosen.scss */
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}

/* line 196, ../sass/partials/_chosen.scss */
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
/* line 203, ../sass/partials/_chosen.scss */
.chosen-container-multi .chosen-choices {
  -moz-box-sizing: border-box;
  background-color: white;
  border: 1px solid rgba(110, 110, 110, 0.4);
  cursor: text;
  margin: 0;
  overflow: hidden;
  padding: 0.4em;
  position: relative;
}

/* line 214, ../sass/partials/_chosen.scss */
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}

/* line 219, ../sass/partials/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

/* line 225, ../sass/partials/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 5px;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #6e6e6e;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}

/* line 240, ../sass/partials/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-field .default {
  color: #999;
}

/* line 244, ../sass/partials/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 0 3px 5px;
  padding: 3px 20px 3px 5px;
  border: 1px solid rgba(110, 110, 110, 0.1);
  border-radius: 3px;
  background-color: rgba(223, 223, 223, 0.4);
  color: #6e6e6e;
  line-height: 13px;
  cursor: default;
  letter-spacing: 1px;
}

/* line 257, ../sass/partials/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:before {
  font-family: FontAwesome;
  content: "\f00d";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  position: relative;
  right: -15px;
}

/* line 267, ../sass/partials/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  color: #ec6b6a;
}

/* line 271, ../sass/partials/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
}

/* line 283, ../sass/partials/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}

/* line 287, ../sass/partials/_chosen.scss */
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}

/* line 291, ../sass/partials/_chosen.scss */
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}

/* line 296, ../sass/partials/_chosen.scss */
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* @end */
/* @group Active  */
/* line 304, ../sass/partials/_chosen.scss */
.chosen-container-active .chosen-single {
  border: 1px solid #ec6b6a;
  color: #ec6b6a;
  font-weight: 700;
}

/* line 310, ../sass/partials/_chosen.scss */
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
}

/* line 318, ../sass/partials/_chosen.scss */
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}

/* line 323, ../sass/partials/_chosen.scss */
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -16px 9px;
}

/* line 327, ../sass/partials/_chosen.scss */
.chosen-container-active .chosen-choices {
  border: 1px solid #ec6b6a;
}

/* line 331, ../sass/partials/_chosen.scss */
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #ec6b6a !important;
}

/* @end */
/* @group Disabled Support */
/* line 337, ../sass/partials/_chosen.scss */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}

/* line 342, ../sass/partials/_chosen.scss */
.chosen-disabled .chosen-single {
  cursor: default;
}

/* line 346, ../sass/partials/_chosen.scss */
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
/* line 352, ../sass/partials/_chosen.scss */
.chosen-rtl {
  text-align: right;
}

/* line 356, ../sass/partials/_chosen.scss */
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}

/* line 361, ../sass/partials/_chosen.scss */
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}

/* line 367, ../sass/partials/_chosen.scss */
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}

/* line 371, ../sass/partials/_chosen.scss */
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}

/* line 376, ../sass/partials/_chosen.scss */
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}

/* line 381, ../sass/partials/_chosen.scss */
.chosen-rtl .chosen-choices li {
  float: right;
}

/* line 385, ../sass/partials/_chosen.scss */
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}

/* line 389, ../sass/partials/_chosen.scss */
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}

/* line 394, ../sass/partials/_chosen.scss */
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}

/* line 399, ../sass/partials/_chosen.scss */
.chosen-rtl.chosen-container-single-nosearch .chosen-search, .chosen-rtl .chosen-drop {
  left: 9999px;
}

/* line 403, ../sass/partials/_chosen.scss */
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}

/* line 408, ../sass/partials/_chosen.scss */
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}

/* line 413, ../sass/partials/_chosen.scss */
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}

/* line 417, ../sass/partials/_chosen.scss */
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url("chosen-sprite.png") no-repeat -30px -20px;
  background: url("chosen-sprite.png") no-repeat -30px -20px;
  direction: rtl;
}

/* line 424, ../sass/partials/_chosen.scss */
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}

/* line 428, ../sass/partials/_chosen.scss */
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

@font-face {
  font-family: "latoregular";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/latoregular.eot?") format("eot"), url("fonts/latoregular.woff2") format("woff2"), url("fonts/latoregular.woff") format("woff"), url("fonts/latoregular.ttf") format("truetype"), url("fonts/latoregular.svg#latoregular") format("svg");
}
@font-face {
  font-family: "latolight";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/latolight.eot?") format("eot"), url("fonts/latolight.woff2") format("woff2"), url("fonts/latolight.woff") format("woff"), url("fonts/latolight.ttf") format("truetype"), url("fonts/latolight.svg#latolight") format("svg");
}
@font-face {
  font-family: "latobold";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/latobold.eot?") format("eot"), url("fonts/latobold.woff2") format("woff2"), url("fonts/latobold.woff") format("woff"), url("fonts/latobold.ttf") format("truetype"), url("fonts/latobold.svg#latobold") format("svg");
}
/* line 9, ../sass/style.scss */
body {
  font-family: latoregular;
  font-size: 14px;
  color: #6e6e6e;
  margin: 0;
}

/* line 16, ../sass/style.scss */
.content {
  margin: auto;
  width: 90%;
  overflow: hidden;
}

/* line 22, ../sass/style.scss */
a {
  text-decoration: none;
  color: inherit;
  letter-spacing: 1px;
}

/* line 31, ../sass/style.scss */
p {
  line-height: 20px;
  color: #6e6e6e;
  letter-spacing: 1px;
  margin: 0;
}

/* line 38, ../sass/style.scss */
li {
  list-style: none;
}

/* line 42, ../sass/style.scss */
.title-user, .title-section, .title {
  padding-bottom: 5px;
  letter-spacing: 0.5px;
  color: #ec6c6b;
  margin-bottom: 0;
}

/* line 49, ../sass/style.scss */
#nav-ppal hr, .info-novia hr, .modal hr, #login hr {
  height: 2px;
  background: #ec6c6b;
  border: 0;
  width: 20px;
  margin: 0 0 25px 0;
}

/* line 57, ../sass/style.scss */
.content-title {
  padding-bottom: 50px;
}

/* line 61, ../sass/style.scss */
#admin {
  padding: 30px 0;
}

/* line 65, ../sass/style.scss */
.send {
  letter-spacing: 0.1em;
  color: white;
  background-color: #ec6c6b;
  border: 1px solid #ec6c6b;
  padding: 15px;
  margin: auto;
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  font-size: 11px;
}
/* line 78, ../sass/style.scss */
.send:hover {
  transition: all .5s ease-in-out;
  background: #b7b7b7;
  color: white;
  border: 1px solid #b7b7b7;
}

/* line 86, ../sass/style.scss */
.nav-print li:nth-child(2) a, .info-novia h1 .edit, .m-search .bg-search input[type="submit"], .wizard .actions ul li a {
  letter-spacing: 0.1em;
  padding: 10px;
  margin: auto;
  display: block;
  color: #ec6c6b;
  border: 1px solid #ec6c6b;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  text-transform: capitalize;
}
/* line 96, ../sass/style.scss */
.nav-print li:nth-child(2) a:hover, .info-novia h1 .edit:hover, .m-search .bg-search input[type="submit"]:hover, .wizard .actions ul li a:hover {
  transition: all .5s ease-in-out;
  background: #b7b7b7;
  color: white;
  border: 1px solid #b7b7b7;
}

/* line 104, ../sass/style.scss */
.paginacion ul li a, .nav-print ul li a {
  letter-spacing: 0.1em;
  padding: 10px;
  margin: auto;
  display: block;
  color: #b7b7b7;
  border: 1px solid #b7b7b7;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  text-transform: capitalize;
}
/* line 114, ../sass/style.scss */
.paginacion ul li a:hover, .nav-print ul li a:hover {
  transition: all .5s ease-in-out;
  background: #b7b7b7;
  color: white;
  border: 1px solid #b7b7b7;
}

/* line 123, ../sass/style.scss */
header {
  box-sizing: border-box;
  border-bottom: 0.1px solid #dfdfdf;
}

/* line 128, ../sass/style.scss */
.logo {
  text-transform: uppercase;
  box-sizing: border-box;
  letter-spacing: 0.1em;
  line-height: 40px;
  font-size: 24px;
  font-weight: normal;
}
/* line 135, ../sass/style.scss */
.logo span {
  font-size: 0.5em;
  text-transform: capitalize;
}

/* line 141, ../sass/style.scss */
.list-ppal {
  line-height: 40px;
  list-style: none;
  float: right;
}
/* line 145, ../sass/style.scss */
.list-ppal li {
  float: left;
}
/* line 148, ../sass/style.scss */
.list-ppal li:first-child {
  letter-spacing: 0.1em;
  font-size: 17px;
  margin-right: 20px;
  color: #b7b7b7;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
/* line 155, ../sass/style.scss */
.list-ppal li:first-child:hover {
  transition: all .5s ease-in-out;
  color: #ec6c6b !important;
}
/* line 162, ../sass/style.scss */
.list-ppal li:last-child a {
  color: #ec6c6b;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid #ec6c6b;
  padding: 15px;
}
/* line 169, ../sass/style.scss */
.list-ppal li:last-child a:hover {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  background: #ec6c6b;
  color: white;
}

/* line 182, ../sass/style.scss */
#nav-ppal nav ul {
  padding: 0px;
}
/* line 184, ../sass/style.scss */
#nav-ppal nav ul li {
  padding: 13px 0px;
}
/* line 186, ../sass/style.scss */
#nav-ppal nav ul li a {
  text-transform: capitalize;
}
/* line 188, ../sass/style.scss */
#nav-ppal nav ul li a:hover {
  color: #ec6c6b;
}
/* line 194, ../sass/style.scss */
#nav-ppal hr {
  margin: 50px 0;
}

/* line 203, ../sass/style.scss */
.title-section:before {
  background-image: url(../img/icon-heart.png);
  background-repeat: no-repeat;
  margin-right: 10px;
  width: 20px;
  content: " ";
  position: relative;
  top: 4px;
  height: 20px;
  display: inline-block;
}

/* line 216, ../sass/style.scss */
.breadcrumbs span {
  color: #ec6c6b;
  font-family: latobold;
}

/* line 222, ../sass/style.scss */
footer {
  background-color: #ec6c6b;
  letter-spacing: 0.1em;
  color: white;
  font-size: 0.9em;
  line-height: 20px;
  padding: 30px 0;
}
/* line 229, ../sass/style.scss */
footer address {
  font-style: normal;
}
/* line 232, ../sass/style.scss */
footer small {
  padding-top: 2em;
  display: block;
}
/* line 236, ../sass/style.scss */
footer .redes {
  text-align: right;
}
/* line 238, ../sass/style.scss */
footer .redes p {
  color: white;
}
/* line 241, ../sass/style.scss */
footer .redes ul {
  float: right;
}
/* line 243, ../sass/style.scss */
footer .redes ul li {
  float: left;
  margin-left: 10px;
}
/* line 246, ../sass/style.scss */
footer .redes ul li i {
  color: #ec6c6b;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 10px;
  vertical-align: middle;
  padding: 10px;
  background: white;
}

/* line 263, ../sass/style.scss */
#index-nav .col-4 {
  width: 32.33333%;
}

/* line 267, ../sass/style.scss */
.dress, .size, .process, .user-list, .add, .sewing, .scissors {
  border: 1px solid #b7b7b7;
  text-align: center;
  padding: 110px 0 55px 0;
  margin-left: 1%;
}
/* line 272, ../sass/style.scss */
.dress:hover, .size:hover, .process:hover, .user-list:hover, .add:hover, .sewing:hover, .scissors:hover {
  border-color: #ec6c6b;
}
/* line 275, ../sass/style.scss */
.dress:hover h3, .size:hover h3, .process:hover h3, .user-list:hover h3, .add:hover h3, .sewing:hover h3, .scissors:hover h3, .dress:hover p, .size:hover p, .process:hover p, .user-list:hover p, .add:hover p, .sewing:hover p, .scissors:hover p {
  color: #ec6c6b;
}
/* line 278, ../sass/style.scss */
.dress .index-title, .size .index-title, .process .index-title, .user-list .index-title, .add .index-title, .sewing .index-title, .scissors .index-title {
  text-transform: capitalize;
  margin: 0;
  font-size: 1.1em;
}

/* line 285, ../sass/style.scss */
.dress {
  background-image: url(../img/dress.png);
  background-repeat: no-repeat;
  background-position: center 35px;
  margin-left: 0;
}
/* line 291, ../sass/style.scss */
.dress:hover {
  background-image: url(../img/dress-pink.png);
}

/* line 296, ../sass/style.scss */
.size {
  background-image: url(../img/size.png);
  background-repeat: no-repeat;
  background-position: center 58px;
}
/* line 301, ../sass/style.scss */
.size:hover {
  background-image: url(../img/size-pink.png);
}

/* line 306, ../sass/style.scss */
.process {
  background-image: url(../img/process.png);
  background-repeat: no-repeat;
  background-position: center 45px;
}
/* line 311, ../sass/style.scss */
.process:hover {
  background-image: url(../img/process-pink.png);
}

/* line 316, ../sass/style.scss */
.user-list {
  background-image: url(../img/list.png);
  background-repeat: no-repeat;
  background-position: center 45px;
}
/* line 321, ../sass/style.scss */
.user-list:hover {
  background-image: url(../img/list-pink.png);
}

/* line 326, ../sass/style.scss */
.add {
  background-image: url(../img/add.png);
  background-repeat: no-repeat;
  background-position: center 45px;
}
/* line 331, ../sass/style.scss */
.add:hover {
  background-image: url(../img/add-pink.png);
}

/* line 336, ../sass/style.scss */
.sewing {
  background-image: url(../img/sewing.png);
  background-repeat: no-repeat;
  background-position: center 45px;
  margin-left: 0;
}
/* line 342, ../sass/style.scss */
.sewing:hover {
  background-image: url(../img/sewing-pink.png);
}

/* line 347, ../sass/style.scss */
.scissors {
  background-image: url(../img/scissors.png);
  background-repeat: no-repeat;
  background-position: center 45px;
}
/* line 352, ../sass/style.scss */
.scissors:hover {
  background-image: url(../img/scissors-pink.png);
}

/* line 358, ../sass/style.scss */
table tr.encabezado, table tr.filtro {
  color: white;
  font-family: 'latobold';
}

/* line 363, ../sass/style.scss */
table {
  width: 100%;
  text-align: left;
  letter-spacing: 1px;
  border-collapse: separate;
  border-spacing: 0 5px;
}
/* line 369, ../sass/style.scss */
table th, table td {
  width: 25%;
  padding: 1em;
}
/* line 373, ../sass/style.scss */
table tr.encabezado {
  background-color: #ec6c6b;
}
/* line 377, ../sass/style.scss */
table tr.filtro {
  background-color: rgba(236, 108, 107, 0.72);
}
/* line 381, ../sass/style.scss */
table tr.dato-table {
  background-color: rgba(236, 108, 107, 0.1);
}
/* line 383, ../sass/style.scss */
table tr.dato-table:hover {
  color: #ec6c6b;
  font-family: latobold;
}

/* line 390, ../sass/style.scss */
#pendiente {
  position: relative;
  top: -5px;
}

/* line 395, ../sass/style.scss */
.paginacion {
  overflow: hidden;
  padding: 3px 0 50px 0;
}
/* line 398, ../sass/style.scss */
.paginacion p {
  line-height: 33px;
  color: rgba(110, 110, 110, 0.6);
  display: inline-block;
}
/* line 403, ../sass/style.scss */
.paginacion ul {
  float: right;
  margin: 0;
}
/* line 406, ../sass/style.scss */
.paginacion ul li {
  float: left;
  list-style: none;
  line-height: 45px;
  padding: 0 0 0 6px;
  letter-spacing: 1px;
  color: rgba(183, 183, 183, 0.7);
}
/* line 413, ../sass/style.scss */
.paginacion ul li a {
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
}

/* line 426, ../sass/style.scss */
.nav-print {
  overflow: auto;
  padding-bottom: 10px;
}
/* line 429, ../sass/style.scss */
.nav-print ul {
  float: right;
}
/* line 431, ../sass/style.scss */
.nav-print ul li {
  float: left;
  margin-left: 10px;
  list-style: none;
}

/* line 447, ../sass/style.scss */
.info-novia {
  overflow: auto;
  padding: 15px 0px 40px 0;
}
/* line 450, ../sass/style.scss */
.info-novia h1 {
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #ec6c6b;
  font-size: 1.1em;
  margin-bottom: .3em;
}
/* line 456, ../sass/style.scss */
.info-novia h1 .edit {
  display: inline-block;
  font-size: 13px;
  margin-left: 10px;
}
/* line 466, ../sass/style.scss */
.info-novia .col-6 {
  padding-left: 0;
}
/* line 468, ../sass/style.scss */
.info-novia .col-6 p {
  padding-bottom: 10px;
}
/* line 470, ../sass/style.scss */
.info-novia .col-6 p span {
  font-family: latobold;
}

/* line 478, ../sass/style.scss */
table.pagos td {
  padding: 3px 0;
}

/* line 484, ../sass/style.scss */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 496, ../sass/style.scss */
.modal button.close {
  color: white;
  background-color: #ec6c6b;
  float: right;
  font-size: 21px;
  display: block;
  padding: 12px;
  cursor: pointer;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 512, ../sass/style.scss */
.modal .modal-dialog {
  width: 800px;
  margin: 40px auto;
  max-height: 650px;
  overflow: scroll;
}
/* line 517, ../sass/style.scss */
.modal .modal-dialog .modal-content {
  position: relative;
  background-color: white;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}
/* line 523, ../sass/style.scss */
.modal .modal-dialog .modal-content .modal-body {
  position: relative;
  padding: 15px;
}
/* line 526, ../sass/style.scss */
.modal .modal-dialog .modal-content .modal-body form {
  width: 90%;
  margin: auto;
}
/* line 529, ../sass/style.scss */
.modal .modal-dialog .modal-content .modal-body form h1 {
  color: #ec6c6b;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 1.2em;
  padding: 1em 0 5px 0;
}
/* line 536, ../sass/style.scss */
.modal .modal-dialog .modal-content .modal-body form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
/* line 540, ../sass/style.scss */
.modal .modal-dialog .modal-content .modal-body form fieldset h2 {
  font-size: 14px;
  margin-bottom: 10px;
  color: #6e6e6e;
}
/* line 546, ../sass/style.scss */
.modal .modal-dialog .modal-content .modal-body form .separador {
  border-top: 1px solid #eaeaea;
  padding-top: 2em;
}

/* line 556, ../sass/style.scss */
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

/* line 563, ../sass/style.scss */
.in {
  opacity: 1;
}

/* line 567, ../sass/style.scss */
#medidas div.add-symbol span {
  border: 1px solid rgba(110, 110, 110, 0.4) !important;
  border-left: 1px !important;
}

/* line 572, ../sass/style.scss */
.botonera {
  width: 315px;
  margin: auto;
  font-size: 13px;
  padding-top: 1em;
}
/* line 577, ../sass/style.scss */
.botonera #cancel {
  color: rgba(110, 110, 110, 0.9);
  background: none;
  padding: 1em 2em;
  border: 1px solid #dfdfdf;
  width: 150px;
  margin: auto;
  margin-bottom: 9px;
}
/* line 585, ../sass/style.scss */
.botonera #cancel:hover {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  background: #ec6c6b;
  color: white;
  border-color: #ec6c6b;
}
/* line 590, ../sass/style.scss */
.botonera #save {
  color: #ec6c6b;
  background: none;
  padding: 1.2em 2em;
  display: inline-block;
  border: 1px solid #ec6c6b;
  text-transform: capitalize;
  width: 150px;
  margin: auto;
  margin-right: 10px;
}
/* line 600, ../sass/style.scss */
.botonera #save:hover {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  background: #ec6c6b;
  color: white;
}

/* line 606, ../sass/style.scss */
.m-search {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(183, 183, 183, 0.5);
  z-index: 99999;
  display: none;
}
/* line 614, ../sass/style.scss */
.m-search .bg-search {
  margin: 0;
  float: right;
  background-color: white;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  padding: 30px;
  box-sizing: border-box;
}
/* line 624, ../sass/style.scss */
.m-search .bg-search h1 {
  font-family: "latolight";
  text-transform: uppercase;
  font-size: 25px;
  color: #ec6c6b;
  padding-top: 5em;
}
/* line 630, ../sass/style.scss */
.m-search .bg-search h1 span {
  font-family: "latobold";
  display: block;
  font-size: 30px;
}
/* line 636, ../sass/style.scss */
.m-search .bg-search input[type="text"] {
  width: 100%;
  padding: 25px 15px;
  box-sizing: border-box;
  margin-top: 30px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #b7b7b7;
  outline: none;
  color: #6e6e6e;
  text-transform: uppercase;
}
/* line 647, ../sass/style.scss */
.m-search .bg-search input[type="text"]:focus {
  border-color: #ec6c6b;
  font-family: "latobold";
  color: #ec6c6b;
}
/* line 653, ../sass/style.scss */
.m-search .bg-search input[type="submit"] {
  background: none;
  outline: none;
  width: 100%;
  margin-top: 40px;
  font-size: 15px;
}
/* line 661, ../sass/style.scss */
.m-search .bg-search .cerrar {
  float: right;
  font-size: 25px;
  color: #f29998;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  background: none;
  border: none;
}
/* line 669, ../sass/style.scss */
.m-search .bg-search .cerrar:hover {
  color: #6e6e6e;
  transition: all .5s ease-in-out;
}

/* line 677, ../sass/style.scss */
.no-result {
  font-weight: 100;
}
/* line 679, ../sass/style.scss */
.no-result span {
  font-family: "latobold";
  color: #ec6c6b;
}

/* line 686, ../sass/style.scss */
#form div.form-group input, #form div.form-group select, #form div.form-group textarea {
  border: 1px solid rgba(110, 110, 110, 0.4);
  padding: 0.9em;
  color: #6e6e6e;
  width: 100%;
  box-sizing: border-box;
  font-size: 13px;
  letter-spacing: 1px;
}

/* line 696, ../sass/style.scss */
#form div.form-group input:focus, #form div.form-group select:focus, #form div.form-group textarea:focus {
  border-color: #ec6c6b;
  color: #ec6c6b;
  outline: 0;
  font-weight: 700;
}

/* line 704, ../sass/style.scss */
#form fieldset {
  border: none;
}
/* line 707, ../sass/style.scss */
#form .col-6:first-child {
  padding-right: 2%;
  padding-left: 0;
}
/* line 711, ../sass/style.scss */
#form .col-6:last-child {
  padding-left: 2%;
  padding-right: 0;
}
/* line 715, ../sass/style.scss */
#form div.form-group {
  margin-bottom: 3em;
  box-sizing: border-box;
}
/* line 718, ../sass/style.scss */
#form div.form-group label {
  display: inline-block;
  margin-bottom: 1em;
  letter-spacing: 1px;
  color: #6e6e6e;
  text-align: left;
  padding-right: 20px;
  box-sizing: border-box;
  font-size: 14px;
}
/* line 727, ../sass/style.scss */
#form div.form-group label.label-radio {
  width: auto;
  display: inline-block;
}
/* line 734, ../sass/style.scss */
#form div.form-group input[type="checkbox"], #form div.form-group input[type="radio"], #form div.form-group select[type="checkbox"], #form div.form-group select[type="radio"] {
  display: inline-block;
  width: auto;
  margin-right: 10px;
  float: left;
}
/* line 744, ../sass/style.scss */
#form div.form-group select {
  border-radius: 0px;
  background: none;
  -webkit-appearance: none;
  background: url(../img/arrow.png) no-repeat scroll 7px 7px;
  background-position: 95% 50%;
  background-size: 6%;
}
/* line 752, ../sass/style.scss */
#form div.form-group input#other {
  display: none;
}
/* line 755, ../sass/style.scss */
#form div.form-group textarea {
  height: 143px;
}
/* line 763, ../sass/style.scss */
#form div.add-symbol {
  display: table;
  position: relative;
}
/* line 766, ../sass/style.scss */
#form div.add-symbol label {
  display: table-caption;
}
/* line 769, ../sass/style.scss */
#form div.add-symbol span {
  display: table-cell;
  border: 1px solid rgba(110, 110, 110, 0.4);
  border-radius: 1px;
  padding: 6px 12px;
  text-align: center;
  border-right: 0;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  box-sizing: border-box;
  color: #6e6e6e;
}

/* line 785, ../sass/style.scss */
#why, #who, #info-admin, #info-seller, #info-design {
  display: none;
}

/* line 790, ../sass/style.scss */
.title {
  font-family: latobold;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 18px;
  padding: 50px 0 20px 0;
}

/* line 800, ../sass/style.scss */
#login hr {
  margin: auto;
}

/* line 805, ../sass/style.scss */
.description {
  text-align: center;
  padding: 20px 0;
}

/* line 810, ../sass/style.scss */
#login .col-5, #follow .col-5 {
  margin: auto;
  float: none;
}

/* line 815, ../sass/style.scss */
.label {
  text-transform: capitalize;
  letter-spacing: 0.1em;
  color: #6e6e6e;
}

/* line 821, ../sass/style.scss */
.inputs {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  height: 34px;
  margin: 10px 0 20px 0;
  color: #6e6e6e;
  letter-spacing: 1px;
  font-size: 0.9em;
  outline: none;
}

/* line 837, ../sass/style.scss */
.forget {
  text-align: center;
  padding: 10px 0 5px 0;
  font-size: 0.9em;
}
/* line 841, ../sass/style.scss */
.forget a {
  text-transform: capitalize;
  letter-spacing: 0.1em;
  color: #6e6e6e;
  text-decoration: underline;
}

/* line 849, ../sass/style.scss */
.remember {
  text-transform: capitalize;
  letter-spacing: 0.1em;
  font-family: 'latoregular';
  color: #6e6e6e;
  text-align: center;
  font-size: 0.9em;
}

/* line 858, ../sass/style.scss */
.title-follow {
  text-align: center;
  color: #6e6e6e;
  text-transform: capitalize;
  font-family: 'latolight';
  letter-spacing: 2px;
}
/* line 864, ../sass/style.scss */
.title-follow .y, .title-follow .word-follow {
  font-family: 'latobold';
}
/* line 867, ../sass/style.scss */
.title-follow .word-follow {
  color: #ec6c6b;
}

/* line 872, ../sass/style.scss */
#acceso {
  padding: 50px 0 30px 0;
}

/* line 876, ../sass/style.scss */
.recordatorio {
  text-align: center;
  padding: 14px 0 0 0;
  color: #ec6c6b;
  font-family: 'latobold';
  letter-spacing: 1px;
}

/* line 885, ../sass/style.scss */
#follow a {
  letter-spacing: 0.1em;
  color: #6e6e6e;
  text-align: center;
  font-size: 1em;
}
/* line 890, ../sass/style.scss */
#follow a:hover {
  color: #ec6c6b;
}
/* line 893, ../sass/style.scss */
#follow a i {
  color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 10px;
  vertical-align: middle;
  padding: 10px;
  background-color: #ec6c6b;
}
/* line 905, ../sass/style.scss */
#follow ul {
  padding: 30px 0 80px 0;
}

/* line 912, ../sass/style.scss */
.wizard .content {
  width: 100%;
}
/* line 915, ../sass/style.scss */
.wizard .title {
  display: none;
}
/* line 918, ../sass/style.scss */
.wizard fieldset {
  border: none;
  padding: 5em 0 2em 0 !important;
}
/* line 921, ../sass/style.scss */
.wizard fieldset #add-phone, .wizard fieldset #add-pay {
  width: 50px;
  height: 50px;
  margin-left: 1em;
  border: 1px solid #b7b7b7;
  background: none;
  color: #b7b7b7;
  display: inline-block;
}
/* line 929, ../sass/style.scss */
.wizard fieldset #add-phone:hover, .wizard fieldset #add-pay:hover {
  color: #ec6c6b;
  border-color: #ec6c6b;
}
/* line 934, ../sass/style.scss */
.wizard fieldset label.error {
  color: #ec6c6b !important;
  font-family: "latobold";
}
/* line 938, ../sass/style.scss */
.wizard fieldset input.error {
  border-color: #ec6c6b !important;
}
/* line 941, ../sass/style.scss */
.wizard fieldset .size-title {
  font-size: 14px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
/* line 946, ../sass/style.scss */
.wizard fieldset .symbol {
  border-right: 1px solid rgba(110, 110, 110, 0.4) !important;
  border-left: 0 !important;
}
/* line 950, ../sass/style.scss */
.wizard fieldset .title-description {
  padding: 0;
  margin: 0 0 13px 0;
}
/* line 956, ../sass/style.scss */
.wizard .steps li {
  float: left;
  list-style: none;
  width: 20%;
  text-align: center;
  position: relative;
}
/* line 962, ../sass/style.scss */
.wizard .steps li .bg-wizard {
  height: 4px;
  border: none;
  z-index: -1;
  position: absolute;
  top: 29px;
  width: 100%;
  background-color: #ec6c6b;
}
/* line 971, ../sass/style.scss */
.wizard .steps li a {
  line-height: 60px;
  width: 60px;
  height: 60px;
  background-color: #ec6c6b;
  border-radius: 50%;
  text-align: center;
  color: white;
  display: inline-block;
  outline: 0;
}
/* line 981, ../sass/style.scss */
.wizard .steps li a .title-step {
  display: none;
}
/* line 985, ../sass/style.scss */
.wizard .steps li .title-step {
  padding-top: 1em;
  font-weight: 700;
  color: #ec6c6b;
  letter-spacing: 1.3px;
}
/* line 990, ../sass/style.scss */
.wizard .steps li .title-step .number {
  display: none;
}
/* line 994, ../sass/style.scss */
.wizard .steps li:nth-child(1) > .bg-wizard, .wizard .steps li:last-child > .bg-wizard {
  width: 50%;
}
/* line 997, ../sass/style.scss */
.wizard .steps li:nth-child(1) > .bg-wizard {
  right: 0;
}
/* line 1000, ../sass/style.scss */
.wizard .steps li:nth-child(5) > .bg-wizard {
  left: 0;
}
/* line 1005, ../sass/style.scss */
.wizard .steps .disabled a {
  background-color: #b7b7b7;
  cursor: default;
}
/* line 1009, ../sass/style.scss */
.wizard .steps .disabled .title-step {
  color: #b7b7b7;
  font-weight: 300;
}
/* line 1013, ../sass/style.scss */
.wizard .steps .disabled .bg-wizard {
  background-color: #b7b7b7;
}
/* line 1018, ../sass/style.scss */
.wizard .steps .done a, .wizard .steps .done .bg-wizard {
  background-color: #f8c6c5 !important;
}
/* line 1021, ../sass/style.scss */
.wizard .steps .done .title-step {
  color: #f8c6c5 !important;
}
/* line 1026, ../sass/style.scss */
.wizard .actions {
  text-align: center;
  width: 100%;
  padding-bottom: 3em;
}
/* line 1030, ../sass/style.scss */
.wizard .actions ul {
  display: inline-block;
  text-align: right;
}
/* line 1033, ../sass/style.scss */
.wizard .actions ul li {
  float: left;
  margin-left: 0.5em;
  list-style: none;
}
/* line 1041, ../sass/style.scss */
.wizard .actions ul .disabled a, .wizard .actions ul .disabled a:hover {
  background: #fbfaf8;
  color: #b7b7b7;
  border-color: #b7b7b7;
}
